body{
  margin: 0;
}
picture{
  align-self: flex-end;
}
.container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../assets/images/Landscape.jpg);
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 1000px){
  .container{
    background-image: url(../assets/images/dawn.png);
    background-size: cover;
  }
}
@media (max-width: 450px){
  .container{
    background-image: url(../assets/images/maxresdefault.jpg);
    background-size: cover;
  }
}
